.title__internal__market{
    margin-top: 32px;
    margin-left: 40px;      
    h3{
        margin-left: 10px;
        font-family: 'Museo Sans Cyrl';
        font-size: 16px;
        line-height: 1.2;
        font-weight: 100;
        color: #ffffff;
    }

    h1{
        margin-left: 10px;
        font-family: 'Museo Sans Cyrl';
        font-size: 60px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
    }

    h4{
        font-family: 'Museo Sans Cyrl';
        font-size: 18px;
        line-height: 1.2;
        font-weight: 100;
        color: #ffffff;
    }
}

.title__internal__guarant{
    margin-top: 30px;
    margin-left: 34px;
    h3{
        font-family: 'Museo Sans Cyrl';
        font-size: 18px;
        line-height: 1.2;
        font-weight: 100;
        color: #ffffff;
    }
    h1{
        font-family: 'Museo Sans Cyrl';
        font-size: 60px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
    }
    h4{
        font-family: 'Museo Sans Cyrl';
        font-size: 18px;
        line-height: 1.2;
        font-weight: 100;
        color: #ffffff;
    }
}
.title__internal__journey{
    margin-top: 38px;
    margin-left: 30px;
    
    h3{
        font-family: 'Museo Sans Cyrl';
        font-size: 18px;
        line-height: 1.2;
        font-weight: 100;
        color: #ffffff;
    }
    h1{
        font-family: 'Museo Sans Cyrl';
        font-size: 60px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
    }
    h4{
        margin-left: 35px;
        font-family: 'Museo Sans Cyrl';
        font-size: 18px;
        line-height: 1.2;
        font-weight: 100;
        color: #ffffff;
    }
}
.title__internal__calendar{
        margin-top: 38px;
    h3{
        margin-left: 5px;
        font-family: 'Museo Sans Cyrl';
        font-size: 18px;
        line-height: 1.2;
        font-weight: 100;
        color: #ffffff;
    } 
    h1{
        font-family: 'Museo Sans Cyrl';
        font-size: 60px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
        span{
            font-family: 'Museo Sans Cyrl';
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            color: #ffffff;
        } 
    } 
    
    h4{
        margin-left: 20px;
        font-family: 'Museo Sans Cyrl';
        font-size: 18.1px;
        line-height: 1.2;
        font-weight: 100;
        color: #ffffff;
        span{
            font-family: 'Museo Sans Cyrl';
            font-size: 18px;
            line-height: 1.2;
            font-weight: 100;
            color: #ffffff;
        } 
    }  
}   
