.invite__travel{  
    background-image: linear-gradient(-90.0deg, #ff3f04 0%, #ffffff 90%, #ffffff 100%);
    font-family: 'Museo Sans Cyrl';
    font-size: 58px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text
} 
.invite__planet{
    font-size: 25px;
    font-weight: 300;
    text-transform: none;
    color: #ffffff;
    opacity: 0.65;
}
