.title__block{
        display: grid;
        grid-template-columns:minmax(90px, 185px) minmax(90px, 185px) ;
        grid-template-rows: minmax(90px, 185px)  minmax(90px, 185px);
        gap: 10px 10px; 
        margin-left: 1200px;
        margin-top: 51px;
        opacity: 0.65;
    }
